{% extends 'base.html' %}

{% block body %}
<!-- service section -->

<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Train Your Dynamic Model
            </h2>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="box ">
                    <div class="img-box">
                        <i class="fa fa-picture-o" aria-hidden="true" style="font-size:36px;color: white;"></i>
                    </div>
                    <div class="detail-box">
                        <h4>
                            Train Image Data
                        </h4>
                        <p>
                            This feature facilitates image capture for the inclusion of new signs, enhancing the dataset for training. It enables the expansion of the model's recognition capabilities.
                        </p>
                        <a href="">
                            Train Model
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box ">
                    <div class="img-box">
                        <i class="fa fa-table" aria-hidden="true" style="font-size:36px;color: white;"></i>
                    </div>
                    <div class="detail-box">
                        <h4>
                            Train CSV Data
                        </h4>
                        <p>
                            This functionality involves activating a camera to capture hand gestures, extracting pertinent signs from the visual data. The system then employs gesture recognition to predict and identify the specific sign represented.
                        </p>
                        <a href="">
                            Train Model
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4 ">
                <div class="box ">
                    <div class="img-box">
                        <i class="fa fa-file-video-o" aria-hidden="true" style="font-size:36px;color: white;"></i>
                    </div>
                    <div class="detail-box">
                        <h4>
                            Train Video Data
                        </h4>
                        <p>
                            In this capability, textual input is provided, and the system translates the provided text into a corresponding hand gesture. Utilizing this association, an image representing the specified sign is generated, facilitating a seamless interchange between text and visual expressions.
                        </p>
                        <a href="">
                            Train Model
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div> -->
            <div class="col-md-6 col-lg-4 ">
                <div class="box ">
                    <div class="img-box">
                        <i class="fa fa-file-video-o" aria-hidden="true" style="font-size:36px;color: white;"></i>
                    </div>
                    <div class="detail-box">
                        <h4>
                            Train Pose Data
                        </h4>
                        <p>
                            You'll strike various poses in front of the camera, like yoga stretches, dance moves, or everyday actions. The system will record these poses and analyze them, building a library of your unique body language.
                        </p>
                        <a href="">
                            Train Model
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- end service section -->
{% endblock body %}